# pip install -r requirements.txt
langgraph
langchain
langchain-openai
langchain-ollama
langchain-chroma
langchain-core
pydantic
typing-extensions
numpy
matplotlib
andes
numba
python-dotenv
rich
yaspin
sentence-transformers
torch
huggingface-hub
fastmcp
pytest
coverage==7.6.1
